.popper {
  margin-top: 0.5rem;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  white-space: nowrap;
  background-color: #f5ca50;
  text-align: center;
  width: 175px;
  height: 2rem;
  float: right;
  user-select: none;
  transition: 140ms ease;
}

.popper:hover {
  cursor: pointer;
}

.active {
  border-radius: 1.5rem 1.5rem 0 0;
}

.inactive {
  border-radius: 1.5rem;
  transition-delay: 140ms;
}
